<!DOCTYPE html>
<html>
<head>
    <title>Pet Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Create Your Pet</h1>

    <form method="POST">
        <input name="name" placeholder="Pet Name" required>

        <select name="type">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="bunny">Bunny</option>
        </select>

        <button type="submit">Start</button>
    </form>
</body>
</html>
